@model IEnumerable<CourseWork.Models.ModelWorker>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <h>Coding Space</h>
    <h1>List of the workers below</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Login</th>
                <th>Position</th>
                <th>Salary</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CourseWork.Models.ModelWorker r in Model)
            {
                <tr>
                    <td>@r.NameBuilder</td>
                    <td>@r.SurnameBuilder </td>
                    <td>@r.LoginBuilder </td>
                    <td>@r.RoleBuilder </td>
                    <td>@r.SalaryBuilder</td>
                    <td>
                        <form id="@r.IdBuilder" asp-controller="Team" asp-action="RemoveWorker" method="post">
                            <input type="hidden" name="Id" value="@r.IdBuilder" />
                            <button type="submit">
                                Remove
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p><a asp-controller="Team" asp-action="AddWorker" >Add worker to this team</a></p>
    <a asp-controller="Authentication" asp-action="Navigator">Move back to your workspace</a>

</body>
</html>

