@model CourseWork.Models.ModelProject
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <h>Coding Space</h>
    <h1>Full info about current project</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Team</th>
                <th>Descrition</th>
                <th>Regulations</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.NameBuilder</td>
                <td>@Model.TeamBuilder  </td>
                <td>@Model.DescBuilder </td>
                <td>@Model.RegBuilder </td>
                <td>@Model.StatusBuilder</td>
            </tr>
        </tbody>
    </table>
    <a asp-controller="Authentication" asp-action="Navigator">Move back to your workspace</a>
</body>
</html>



